{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for share in shares %}
            <tr>
                <td>{{share.name}}</td>
                <td>{{share.symbol}}</td>
                <td>{{share.price | usd}}</td>
                <td>{{share.qnt}}</td>
                <td>{{share.total | usd}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{cash_total | usd}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{grand_total | usd}}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}