<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/styles.css">
<title>Login</title>
</head>
<body>
   <div class="main-login">
    <div class="left-login">
        <h1>Entre na sua conta<br>e venha fazer parte da Izzy Invest </h1>
        <img src="/static/astronauta.svg" class="left-login-image" alt="gato astronauta animação">
    </div>
    <form action="/login" method="post">
        <div class="right-login">
            <div class="card-login">
                <h1>Login</h1>
                <div class="textfield">
                    <label for="username">Nome de usuário</label>
                    <input type="username" name="username" id="username" placeholder="Nome">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="password" id="password" placeholder="Senha">
                </div>
                <button class="btn-login" value="sumbit">Fazer login</button>
                <a href="/register" class="changeRoute">Registrar</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>